.logo{
    margin-left: 27px;
    width: 197px;
}
.btn-logout {
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    background-color: #ff4d4d;
    border: none;
    color: white;
    width: 125px;
    height: 40px;
    margin-right: 45px;
    border-radius: 4px;
    font-weight: bold;

}

.btn-logout:hover {
    color: #0F172B;

}

.navbar2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 77px;
    background-color: #0F172B;
    position: fixed;
    top: 0;
    z-index: 1;
    padding-right: 20px;
    justify-content: space-between;
}

.navbar2-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.profile-username {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.username {
    margin-right: 10px;
}

.logout-btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.logout-btn:hover {
    color: #ff4d4d;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .navbar2 {
        position: relative;
        justify-content: space-between;
        padding-right: 15px;
    }

    .navbar2-nav {
        display: flex;
    }
}